@media (max-width: 1024px) {
    .fish-burger .bg-img {
        width: 300px !important;
        height: auto !important;
        left: 100px !important;
    }
    .fish-burger h2{
        .div-one{
            font-size: 50px !important;
        }
        .div-two{
            font-size: 100px !important;
        }
         .div-three{
            font-size: 50px !important;
         }
    }
    .fish-burger .burger-img {
        width: 350px !important;
    }
}
/* ******************************************* */
@media (max-width: 992px) {
    .fish-burger .bg-img {
        inset: 0 !important;
    }
    .fish-burger h2{
        .div-one{
            font-size: 35px !important;
        }
        .div-two{
            font-size: 70px !important;
        }
         .div-three{
            font-size: 35px !important;
         }
    }
    .fish-burger .burger-img {
        width: 280px !important;
    }
}
/* ******************************************* */
@media (max-width: 767px) {
    .fish-burger .bg-img {
        left: 20% !important;
    }
    .fish-burger h2{
        .div-one{
            font-size: 30px !important;
        }
        .div-two{
            font-size: 60px !important;
        }
         .div-three{
            font-size: 30px !important;
            margin-bottom: 50px;
         }
    }
    .fish-burger .burger-img {
        width: 280px !important;
    }
}
/* ************************************************** */
@media (max-width: 400px) {
    .fish-burger .bg-img {
        inset: 0 !important;
        width: 100px;
    }
    .fish-burger h2{
        .div-one{
            font-size: 25px !important;
        }
        .div-two{
            font-size: 40px !important;
        }
         .div-three{
            font-size: 25px !important;
         }
    }
    .fish-burger .burger-img {
        width: 200px !important;
    }
}