@media (max-width: 1300px) {
    .original-burger .menu-info{
        left: 100% !important;
    }
    .menus h2,
    p{
        margin-inline-start: 0 !important;
    }
}
/* ******************************************** */
@media (max-width: 992px){
    .header h2 {
        font-size: 50px !important;
    }
    .menus h2 {
        font-size: 30px !important;
        margin-bottom: 5px !important;
    }
    .menus p {
        display:  block !important;
        margin-bottom: 20px !important;
        font-size: 14px !important;
    }
    .menus .align-items-center {
        align-items: baseline !important;
    }
    .menus h2,
    p{
        margin-inline-start: 20px !important;
    }
    .original-burger h3 {
        font-size: 16px !important;
    }
    .original-burger .card-h4-yellow h4{
        font-size: 15px !important;
    }

}
/* *********************************************** */
@media (max-width: 767px){
    .header h2 {
        font-size: 40px !important;
    }
    .menus h2 {
        font-size: 20px !important;
    }
    .menus p {
        font-size: 10px !important;
        margin-bottom: 20px !important;
        margin-inline-start: -40px !important;
    }
    .menus h2{
        display: flex;
        justify-content: center;
    }
    .menus .card-price {
        display: flex;
        justify-content: center !important ;
        margin-bottom: 30px;
        span{
        font-size: 15px !important;
        }
    }
    .menus .card-img{
        display: flex;
        justify-content: center;
    }
    .menus .card-img img{
        width: 300px;
        margin-bottom: 20px;
    }
    .original-burger .menu-info {
        left: 44% !important;
    }
    .original-burger .menu-info-second {
        left: 220px !important;
    }
    .original-burger .menu-info, .original-burger .menu-info-second {
        width: 200px !important;
        height: 200px !important;
        top: -130px !important;
        i{
            display: none;
        }
        h6{
            font-size: 10px !important;
        }
        ul{
            li{
                span{
                    font-size: 10px !important;
                }
                font-size: 10px !important;
            }
        }
        p{
            font-size: 8px !important;
        }
    }
}
/* ************************************************************ */
@media (max-width: 500px){
    .header h2 {
        font-size: 30px !important;
    }
    .header p{
        font-size: 10px !important;
    }
   
    .menus .card-img img{
        width: 180px !important;
    }
    .menus p {
        margin-inline-start: 20px !important;
    }
    .original-burger h3 {
        font-size: 12px !important;
    }
    .original-burger span {
        font-size: 13px !important;
    }
    .original-burger p {
        font-size: 10px !important;
    }
    .original-burger .card-h4-yellow h4{
        font-size: 12px !important;
    }
    .original-burger .menu-info-second {
        left: 120px !important;
        top: -28px !important;
    }
}
/* ***************************************************** */
@media (max-width: 330px){
    .header h2 {
        font-size: 20px !important;
    }
    .header p {
        font-size: 8px !important;
    }
    .menus .card-img img{
        width: 150px !important;
    }
    .original-burger .menu-info {
        left: 23% !important;
    }
    .original-burger .menu-info-second {
        left: 80px !important;
    }
    .original-burger h3 {
        font-size: 8px !important;
    }
    .original-burger p {
        font-size: 8px !important;
    }
    .original-burger .card-h4-yellow h4{
        font-size: 8px !important;
    }
    .menus h2 {
        font-size: 15px !important;
        margin-inline-start: 23px !important;
    }
    .menus .card-price {
        margin-inline-start: 23px !important;
        span{
        font-size: 12px !important;
        }
    }
    .menus p{
        font-size: 8px !important;
    }
}